{
  "presets": [
    ["es2015", {
      "modules": false
    }]
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],[
      "component", 
      {
        "libraryName": "another-module",
        "style": true
      }
    ]
  ]
}
